@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sansation: "Sansation", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2 {
  @apply font-inter;
}

body {
  @apply font-sansation;
}

.glass-card {
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp-header {
  animation: fadeInUp 0.3s ease-out;
}

.animate-fadeInUp-hero {
  animation: fadeInUp 0.5s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(-6px);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(-6px);
  }
}

@keyframes arrow {
  0% {
    bottom: 20px;
    opacity: 1;
  }
  100% {
    bottom: 15px;
    opacity: 1;
  }
}

@keyframes leftArrow {
  0% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

@keyframes rightArrow {
  0% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.arrow-down {
  width: 60px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-30px); 
  bottom: -25px; 
  cursor: pointer;
  z-index: 50;

  animation:
    smoothArrowEntrance 1s 0s ease-out forwards,
    arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  animation-play-state: paused;
}

.left, .right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: #0B2545;
  border-radius: 4px;
  top: 40px;
  left: 10px;
}

.left {
  transform: rotate(240deg);
  transform-origin: 5px 50%;
  animation: leftArrow 2s infinite ease-out alternate;
}

.right {
  transform: rotate(-60deg);
  transform-origin: 5px 50%;
  animation: rightArrow 2s infinite ease-out alternate;
}

@keyframes smoothArrowEntrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
